.card {
    margin-top: 10px; // marge de 10px en haut
    margin-right: 10px; // marge de 5px à droite
    margin-bottom: 10px; // marge de 15px en bas
    margin-left: 10px; // marge de 20px à gauche
  }
  .input {
    margin-left: 2px; // marge de 5px à droite
  }